# Django Settings
SECRET_KEY=django-insecure-o#6+)3+xmg85qk0pycqmx$kz-!@8j^cu*84(f$^=2%(4^fh6d1
DEBUG=True
ALLOWED_HOSTS=*

# Email Configuration
EMAIL_HOST_USER=deepkevadiya63@gmail.com
EMAIL_HOST_PASSWORD=wvef jdyr bgko yhzl

# Google Gemini API
GEMINI_API_KEY=AIzaSyDa4yft8s4FTsbSvwTMrIUtrl7gzoBnAeM

# Deployment
CSRF_TRUSTED_ORIGINS=http://*.127.0.0.1,http://*.localhost
